@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}

@layer base {
  body {
    background-color: white;
    overflow-x: hidden;
  }
  :root[class~="dark"] body {
    background-color: #040d1a;
  }
}

.product-key-features h1,
.product-key-features h2,
.product-key-features h3,
.product-key-features h4,
.product-key-features h5,
.product-key-features h6 {
  font-size: 20px;
  font-weight: 600;
}

.product-key-features ul {
  padding-left: 32px;
  list-style-type: disc;
  list-style-image: #4d6bdd;
}

.product-key-features ul li::marker {
  color: #4d6bdd;
}

.product-key-features ul li {
  font-size: 16px;
  font-weight: 400;
}

.product-slider .swiper-pagination-bullet {
  background-color: #787878 !important;
  width: 12px;
  height: 12px;
  opacity: 1;
}
.product-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #4d6bdd !important;
}
.blog-details h1{
  font-size: 48px;
  font-family: "Inter", serif;
  margin-bottom: 48px;
}
.blog-details h2, .blog-details h3, .blog-details h4, .blog-details h5, .blog-details h6{
  font-size: 30px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.blog-details p{
  font-size: 16px;
 margin-top: 16px;
 margin-bottom: 20px;

 font-family: "Inter", serif;
}
